@tailwind base;
@tailwind components;
@tailwind utilities;

input,
textarea,
button,
select,
a {
    -webkit-tap-highlight-color: transparent;
}

body {
    background-color: theme("colors.teal.500");
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 16px;
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

.heart {
    cursor: pointer;
    height: 50px;
    width: 50px;
    background-image: url("https://abs.twimg.com/a/1446542199/img/t1/web_heart_animation.png");
    background-position: left;
    background-repeat: no-repeat;
    background-size: 2900%;
    position: absolute;
    right: -4px;
}

.heart-full {
    background-position: right;
}

.is_animating {
    animation: heart-burst 0.8s steps(28) 1;
}

@keyframes heart-burst {
    from {
        background-position: left;
    }
    to {
        background-position: right;
    }
}
